<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Об авторе</title>
</head>

<body>
    <h1>Дмитрий Хоронжин</h1>
    <p>
        Всем нам снятся кошмары. Проснувшись, одни сразу забывают их, другие стараются забыть.
        Неспособные забыть прячут безумие своего подсознания вдали от всех. Бояться, что люди окрестят их сумасшедшими.
        При этом не страшатся сойти с ума в действительности, окружив себя больной фантазией скрытых бесов.
        А их нужно изредка выгуливать, что я и делаю. Все мои истории собраны из образов,
        пришедших ко мне в сновидениях. Пускай лучше мои демоны бродят по страницам написанных мною книг.
    </p>
    <p>
        На мрачных междустрочных улочках им все дозволено. Здесь их владения и я их не способен контролировать.
        Под звуки хаоса они выплясывают на пепелище из человеческих страхов. Играют с воображением,
        выстраивая хрустальные сосуды. Наполняют их яростью, любовью, злобой, насилием и радостью,
        а затем швыряют о каменные стены под дикий гогот. Они такие какие есть и я их принимаю.
        Со своими бесами лучше быть в гармонии, иначе они завладеют тобой и выйдут на темные улицы реальных городов.
    </p>
    <p>
        10 лет скалолазания питали мое подсознание самыми яркими впечатлениями. Горы стёрли все границы.
        На вершине ты чувствуешь, что нет ничего невозможного. Затем, я наконец осознал, что книги обладают той же магией
        и на их страницах возможно все.
    </p>
    <a href="/">На главную</a>
</body>

</html>