<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <header class="header">
        <div class="container header__container">
            <a href="#" class="logo header__logo"></a>
            <div class="header__inner">
                <nav class="nav">
                    <ul class="nav__list list-reset">
                        <li class="nav__item"><a href="#" class="nav__link">Об авторе</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Книги автора</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Блог автора</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Книжная полка читателя</a></li>
                        <li class="nav__item"><a href="contacts/" class="nav__link">Контакты автора</a></li>
                    </ul>
                </nav>
                <button class="search" aria-label="поиск по сайту">
                    <span class="search__svg">
                        <svg width="26" height="26" viewbox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="19.5138" y="18.5495" width="8" height="2" transform="rotate(45 19.5138 18.5495)"/>
                            <circle cx="11.5" cy="11.5" r="10.5" stroke-width="2"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </header>

    <main>

        <section class="hero">
            <h1 class="visually-hidden"></h1>
            <div class="container hero__container"></div>
        </section>

    </main>

    <footer class="footer">
        <div class="container footer__container"></div>
    </footer>

</body>

</html>