{% extends 'books/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/bookshelf/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="container-auth container-email">
  <div class="card card__register shadow-lg">
    <div class="card-header">
      <h3 class="text-center font-weight-light">Checkout canceled</h3>
    </div>
    <div class="card-body text-center">
      <h4>Forgot to add something to your cart? Shop around then come back to pay!</h4>
    </div>
    <div class="card-footer text-center">
      <div class="small"><a href="/">Back</a></div>
    </div>
  </div>
</div>
{% endblock %}