{% extends 'books/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/bookshelf/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="container-auth container-email">
  <div class="card shadow-lg">
    <div class="card-header">
      <h3 class="text-center font-weight-light">Спасибо за заказ!</h3>
    </div>
    <div class="card-body text-center">
      <h4>Ваш заказ успешно сформирован.</h4>
    </div>
    <div class="card-footer text-center">
      <div class="small"><a href="#">Продолжить</a></div>
    </div>
  </div>
</div>
{% endblock %}