{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="container-auth container_register">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card shadow-lg">
        <div class="card-header">
            <h3 class="text-center font-weight-light">Создать аккаунт</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="grid card-body-grid">
                        <div class="form-group">
                            <label class="small" for="inputFirstName">Имя</label>
                            <input class="form-control" id="inputFirstName" type="text" placeholder="Введите имя"/>
                        </div>
                        <div class="form-group">
                            <label class="small" for="inputLastName">Фамилия</label>
                            <input class="form-control" id="inputLastName" type="text" placeholder="Введите фамилию"/>
                        </div>
                        <div class="form-group">
                            <label class="small" for="inputUsername">Имя пользователя</label>
                            <input class="form-control" id="inputUsername" type="text" aria-describedby="usernameHelp" placeholder="Введите имя пользователя"/>
                        </div>
                        <div class="form-group">
                            <label class="small" for="inputEmailAddress">Адрес электронной почты</label>
                            <input class="form-control" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Введите адрес эл. почты"/>
                        </div>
                        <div class="form-group">
                            <label class="small" for="inputPassword">Пароль</label>
                            <input class="form-control" id="inputPassword" type="password" placeholder="Введите пароль"/>
                        </div>
                        <div class="form-group">
                            <label class="small" for="inputConfirmPassword">Подтверждение пароля</label>
                            <input class="form-control" id="inputConfirmPassword" type="password" placeholder="Подтвердите пароль"/>
                        </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-block" type="submit" value="Создать аккаунт">
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <div class="small"><a href="{% url 'users:login' %}">Уже есть аккаунт? Авторизоваться</a></div>
        </div>
    </div>
</div>
{% endblock %}