{% extends 'books/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/bookshelf/css/auth.css' %}">
{% endblock %}

{% block script_in_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container-auth container_register">
  <div class="card card__register shadow-lg">
    <div class="profile-left">
      <div class="card-header">
        <h3 class="text-center font-weight-light">Новая книга</h3>
      </div>
      <div class="card-body">
        <form action="{% url 'books:add_book' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
            <label for="{{ form.isbn.id_for_label }}">ISBN:</label>
            {{ form.isbn }}
          </div>
          <div class="form-row">
            <div class="custom-file">
              {{ form.cover }}
              <label class="custom-file-label" for="{{ form.cover.id_for_label }}">Выберите обложку</label>
            </div>
          </div>
          <div class="form-row">
            <label for="{{ form.title.id_for_label }}">Название:</label>
            {{ form.title }}
          </div>
          <div class="form-row">
            <label for="{{ form.author.id_for_label }}">Автор:</label>
            {{ form.author }}
          </div>
          <div class="form-row">
            <label for="{{ form.new_author.id_for_label }}">Имя и Фамилия нового автора через пробел
              (если в списке выше нет нужного):</label>
            {{ form.new_author }}
          </div>
          <div class="form-row">
            <label for="{{ form.published.id_for_label }}">Дата публикации:</label>
            {{ form.published }}
          </div>
          <div class="form-row">
            <label for="{{ form.genre.id_for_label }}">Жанр:</label>
            {{ form.genre }}
          </div>
          <div class="form-row">
            <label for="{{ form.new_genre.id_for_label }}">Новый жанр (если в списке выше нет нужного):</label>
            {{ form.new_genre }}
          </div>
          <div class="form-row">
            <label for="{{ form.cycle.id_for_label }}">Цикл:</label>
            {{ form.cycle }}
          </div>
          <div class="form-row">
            <label for="{{ form.new_cycle.id_for_label }}">Новый цикл (если в списке выше нет нужного):</label>
            {{ form.new_cycle }}
          </div>
          <div class="form-row">
            <label for="{{ form.series.id_for_label }}">Серия:</label>
            {{ form.series }}
          </div>
          <div class="form-row">
            <label for="{{ form.new_series.id_for_label }}">Новая серия (если в списке выше нет нужного):</label>
            {{ form.new_series }}
          </div>
          <div class="form-row">
            <label for="{{ form.annotation.id_for_label }}">Аннотация:</label>
            {{ form.annotation }}
          </div>
          <div class="form-row">
            <label for="{{ form.status.id_for_label }}">Статус:</label>
            {{ form.status }}
          </div>
          <div class="form-row">
            <label for="{{ form.rating.id_for_label }}">Рейтинг:</label>
            {{ form.rating }}
          </div>
          <div class="form-row">
            <label for="{{ form.category.id_for_label }}">Категория:</label>
            {{ form.category }}
          </div>
          <div class="form-row">
            <label for="{{ form.first_reading.id_for_label }}">Первое прочтение:</label>
            {{ form.first_reading }}
          </div>
          <div class="form-row">
            <label for="{{ form.second_reading.id_for_label }}">Второе прочтение:</label>
            {{ form.second_reading }}
          </div>
          <div class="form-row">
            <label for="{{ form.third_reading.id_for_label }}">Третье прочтение:</label>
            {{ form.third_reading }}
          </div>
          <div class="form-row">
            <input class="btn-auth btn-info btn-block" type="submit" value="Сохранить">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script_end %}
<script src="{% static '/bookshelf/js/auth_admin.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="{% static '/bookshelf/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static '/bookshelf/js/jquery.min.js' %}"></script>
{% endblock %}