{% extends 'books/base.html' %}
{% load static cache humanize %}

{% block css %}
  <link href="{% static '/bookshelf/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script_in_head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="container container__book-list">

  <div class="col-lg-9 author-book-list">

      <div class="row book-list-right__list">
        {% cache 60 author_books %}
          {% for book in author_books %}
          <div class="col-lg-3 col-md-6 mb-4 book-list-right__item">
            <div class="card h-100">
              <a href="{{ book.id }}" class="book-list__link">
                <img class="card-img-top book-list-right__img"
                     src="{{ book.cover.url }}"
                     alt="">
              </a>
              <div class="card-body">
                <h4 class="card-title book-list__title-book">
                  <a href="{{ book.id }}" class="book-list__link">{{ book.title }}</a>
                </h4>
                <h5 class="book-list__price-book">{{ book.price|intcomma }} руб.</h5>
                {% for author in book.author.all %}
                  <p class="card-text book-list__author-book">{{ author.last_name }} {{ author.first_name }}</p>
                {% endfor %}
              </div>
              <div class="card-footer text-center">
                <a class="btn btn-outline-success book-list__btn"
                   href="{% url 'books:basket_add' book.id %}">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endcache %}
      </div>

      {% if is_paginated %}
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
              <a class="page-link book-list__page"
                 href="{% if page_obj.has_previous %} {% url 'books:paginator-author' page_obj.previous_page_number %} {% else %} # {% endif %}"
                 tabindex="-1" aria-disabled="true">
                Назад
              </a>
            </li>
            {% for page in page_obj.paginator.page_range %}
              <li class="page-item">
                <a class="page-link book-list__page" href="{% url 'books:paginator-author' page %}">
                  {{ page }}
                </a>
              </li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
              <a class="page-link book-list__page"
                 href="{% if page_obj.has_next %} {% url 'books:paginator-author' page_obj.next_page_number %} {% else %} # {% endif %}">
                Вперед
              </a>
            </li>
          </ul>
        </nav>
      {% endif %}

  </div>

</div>

</div>
{% endblock %}

{% block script_end %}
<script src="{% static '/bookshelf/js/auth_admin.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="{% static '/bookshelf/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static '/bookshelf/js/jquery.min.js' %}"></script>
{% endblock %}

<!--todo = настроить hover и disabled-->