<h3 class="profile-right__title">
      Корзина <span class="badge badge-secondary badge-pill">3</span>
    </h3>
    <div class="card card-bg">
      <div class="card-body">
        <h4 class="card-title">Product name</h4>
        <p class="card-text">Product description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="list-group-item__price">
            <input name="basketID" type="number" class="form-control form-control__badge" value="1" min="0">
            <p class="badge-price">2 390 руб.</p>
            <a href="#"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="card-footer card-footer-profile">
        <p class="float-left">Итого</p>
        <h4 class="float-right">2 390 руб.</h4>
      </div>
    </div>
    <a class="btn-auth btn-success float-right" href="../orders/order-create.html">
      Оформить заказ
    </a>