{% if baskets  %}
    <h3 class="profile-right__title">
      Корзина <span class="badge badge-secondary badge-pill">3</span>
    </h3>
    {% for basket in baskets %}
        <div class="card card-bg card-basket">
      <div class="card-body">
        <h4 class="card-title">{{ basket.book.title }}</h4>
        {% for author in basket.book.author.all %}
            <p class="card-text">{{ author.last_name }} {{ author.first_name }}</p>
        {% endfor %}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="list-group-item__price">
            <input name="basketID" type="number" class="form-control form-control__badge"
                   value="{{ basket.quantity }}" min="0">
            <p class="badge-price">2 390 руб.</p>
            <a href="{% url 'books:basket_remove' basket.id %}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      </ul>
    </div>
    {% endfor %}
    <div class="card card-basket">
      <div class="card-footer card-footer-profile">
        <p class="float-left">Итого</p>
        <h4 class="float-right">2 390 руб.</h4>
      </div>
    </div>
    <a class="btn-auth btn-success float-right" href="../orders/order-create.html">
      Оформить заказ
    </a>
{% else %}
    <h3 class="profile-right__title">
      Корзина пуста
    </h3>
{% endif %}
