{% extends 'books/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <section class="book section">
      <div class="container book__container">
        <h2 class="book__title title-h2">{{ book_detail.title }}</h2>
        <div class="book__content grid">
          <a href="{{ book_detail.cover.url }}" target="_blank">
            <img class="book__content-img" src="{{ book_detail.cover.url }}" alt="">
          </a>
          <div class="book__content-about">
            <ul class="book__content-about-list">
              <li class="book__content-about-item">
                <p>Автор:
                {% for author in book_detail.author.all %}
                  <a href="#" class="book-list__link">
                    <b>{{ author.first_name }} {{ author.last_name }}</b>
                  </a>
                {% endfor %}
                </p>
              </li>
              <li class="book__content-about-item">
                <p>ISBN:
                  <b>{{ book_detail.isbn }}</b>
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Дата публикации:
                  <b>{{ book_detail.published }}</b>
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Жанр:
                  {% for genre in book_detail.genre.all %}
                    <a href="#" class="book-list__link">
                      <b>{{ genre.name }}</b>
                    </a>
                  {% endfor %}
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Цикл:
                  <a href="#" class="book-list__link">
                    <b>{{ book_detail.cycle.name }}</b>
                  </a>
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Серия:
                  <a href="#" class="book-list__link">
                    <b>{{ book_detail.series.name }}</b>
                  </a>
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Статус:
                  <a href="#" class="book-list__link">
                    <b>{{ book_detail.status }}</b>
                  </a>
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Первое прочтение:
                  <b>{{ book_detail.first_reading }}</b>
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Второе прочтение:
                  <b>{{ book_detail.second_reading }}</b>
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Третье прочтение:
                  <b>{{ book_detail.third_reading }}</b>
                </p>
              </li>
              <li class="book__content-about-item star-rating">
                <p>Рейтинг:&nbsp;
                  <div class="star-rating__wrap">
                    {% if book_detail.rating %}
                      {% if book_detail.rating == 5 %}
                        <input class="star-rating__input" id="star-rating-5-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-5-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-5-4" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-5-4" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-5-3" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-5-3" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-5-2" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-5-2" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-5-1" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-5-1" title="5 out of 5 stars"></label>
                      {% elif book_detail.rating == 4 %}
                        <input class="star-rating__input" id="star-rating-4-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4-4" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-4-4" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4-3" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-4-3" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4-2" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-4-2" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-4-1" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-4-1" title="5 out of 5 stars"></label>
                      {% elif book_detail.rating == 3 %}
                        <input class="star-rating__input" id="star-rating-3-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3-4" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3-4" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3-3" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-3-3" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3-2" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-3-2" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-3-1" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-3-1" title="5 out of 5 stars"></label>
                      {% elif book_detail.rating == 2 %}
                        <input class="star-rating__input" id="star-rating-2-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2-4" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2-4" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2-3" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2-3" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2-2" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-2-2" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-2-1" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-2-1" title="5 out of 5 stars"></label>
                      {% else %}
                        <input class="star-rating__input" id="star-rating-1-5" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1-5" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1-4" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1-4" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1-3" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1-3" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1-2" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1-2" title="5 out of 5 stars"></label>
                        <input class="star-rating__input" id="star-rating-1-1" type="radio" name="rating" value="5">
                        <label class="star-rating__ico fa fa-star fa-lg" for="star-rating-1-1" title="5 out of 5 stars"></label>
                      {% endif %}
                    {% else %}
                      <b>Без оценки</b>
                    {% endif %}
                  </div>
                </p>
              </li>
              <li class="book__content-about-item">
                <p>Скачать файл книги:</p>
              </li>
            </ul>
          </div>
          <div class="book__content-descr">
            <strong>Аннотация</strong>
            <p>{{ book_detail.annotation }}</p>
          </div>
          <div class="book__content-review">
            <strong>Рецензия</strong>
              <figure>
                <blockquote>
                  <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
                </blockquote>
                <figcaption>—user_name</figcaption>
              </figure>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

<!--todo = сделать форму для добавления новой книги и редактирования добавленной-->
<!--todo = при нажатии на ссылки (автор, жанр, серия, цикл, статус и рейтинг) сделать переходы на страницы с фильтром-->
<!--todo = сделать возможность добавления и редактирования рецензий-->